.container{
    background-color: rgb(102, 102, 129);
    font-size: 140%;
    padding: 10px;
    
    
}

#header{
    text-align: center;
    margin-bottom: 30px;
    color: rgb(4, 34, 6);
}
 .form-style{
     width: 800px;
     background-color: rgb(17, 13, 41);
     color: white;
 }